In [2]:
import pandas as pd

In [3]:
dishes = pd.read_csv('dishes.csv')
users = pd.read_csv('users.csv')
df = pd.read_csv('train_holodilnik.csv')
test_df = pd.read_csv('test_holodilnik.csv')

In [4]:
dishes

,dish_id,dish_name,category,calories,spicy,allergen_tags,tags
0,1,Оливье,salad,480,0,egg|mayo|peas,fiber|savory|vegetarian
1,2,Винегрет,salad,304,0,NaN,fiber|low_cal|pickled|savory|sour|vegan|vegeta...
2,3,Салат «Мимоза»,salad,267,0,egg|mayo,fiber|low_cal|savory|vegetarian
3,4,Греческий салат,salad,389,0,NaN,fiber|fresh|savory|vegan|vegetarian
4,5,Цезарь,salad,269,0,egg|mayo,fiber|low_cal|savory|vegetarian
...,...,...,...,...,...,...,...
195,196,Блины,breakfast,571,0,gluten,bread|high_protein|savory|vegan|vegetarian
196,197,Сырники (завтрак),breakfast,471,0,dairy,creamy|high_protein|savory|vegetarian
197,198,Авокадо-тост,breakfast,245,0,gluten,bread|fresh|high_protein|low_cal|savory|vegan|...
198,199,Овсянка (классический),breakfast,605,0,gluten,boiled|high_protein|savory|vegan|vegetarian
199,200,Гранола (домашний),breakfast,494,0,NaN,high_protein|savory|vegan|vegetarian

In [5]:
users

,user_id,allergies,liked_tags,disliked_tags,prefers_light_food,sweet_tooth,coffee_addict,microwave_trust
0,1,chocolate|mayo|peas,bread|chicken|fried|juice|pasta|seafood_tag|tu...,baked|coffee|compote,0,0,0,0
1,2,NaN,coffee|compote|fried|tea|vegan,chicken|fresh|pasta|spicy,1,0,1,0
2,3,mayo,crispy|meat|pickled|savory|seafood_tag|soda|sweet,compote|fish_tag|pork|rice|vegetarian,0,1,1,0
3,4,NaN,coffee|fish_tag|meat|rice|smoky|soda,grilled|juice|seafood_tag|tea|vegan,0,0,1,0
4,5,NaN,bread|coffee|fiber|fried|high_protein|smoky,baked|grilled|juice|pickled|vegan|vegetarian,1,1,1,0
...,...,...,...,...,...,...,...,...
14995,14996,fish|gluten,fiber|fresh|juice|meat|pasta|pork|seafood_tag|...,compote|creamy|low_cal,1,0,0,1
14996,14997,dairy|egg,boiled|fish_tag|meat|potato|savory,beef|low_cal|pork|rice|sour|vegan,0,1,0,0
14997,14998,peas,bread|high_protein|savory|sour|tea|turkey,chicken|compote|grilled|sweet,0,1,0,0
14998,14999,NaN,chicken|compote|fresh|high_protein|potato|rice...,crispy|low_cal|savory,1,0,0,1
14999,15000,nuts,baked|bread|creamy|potato|rice,chicken|pasta|vegan,0,0,0,1

In [6]:
df

,event_id,user_id,day,meal_slot,hangover_level,guests_count,diet_mode,fridge_load_pct,cand_01,cand_02,...,cand_12,cand_13,cand_14,cand_15,cand_16,cand_17,cand_18,cand_19,cand_20,target_dish_id
0,1,4677,9,lunch,1,0,0,46,10,79,...,33,48,38,105,164,199,163,159,38,52
1,2,1179,14,dinner,0,2,1,44,37,163,...,51,133,56,67,84,140,68,72,31,163
2,3,9322,4,dinner,2,2,0,86,27,94,...,94,165,132,72,69,49,74,64,125,122
3,4,8418,10,breakfast,3,2,0,49,29,98,...,141,118,36,87,124,46,115,100,164,115
4,5,3665,7,lunch,3,2,1,53,102,99,...,72,83,4,189,177,136,100,2,149,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,299996,3180,5,lunch,1,1,0,73,152,23,...,5,131,166,189,133,149,92,179,170,149
299996,299997,2501,3,breakfast,3,1,0,90,28,175,...,68,102,115,26,145,136,33,120,101,145
299997,299998,14126,1,lunch,3,5,0,100,37,37,...,70,149,122,174,160,110,122,98,138,37
299998,299999,10860,8,late_snack,1,0,0,75,139,138,...,9,107,30,23,56,122,138,45,51,171
299999,300000,12353,13,dinner,0,1,1,61,17,82,...,172,199,72,105,163,159,177,50,123,199